<div class="container">
  <div class="row">
    <input name="name" class="input inline" (input)="selectionChanged()" ng-model="filter.name" />
    <select name="brand" class="inline" [(ngModel)]="filter.brand" (change)="selectionChanged()">
      <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.name}}</option>
    </select>
    <select required name="componentType" class="inline" [(ngModel)]="filter.type" (change)="selectionChanged()">
      <option *ngFor="let componentType of types" [ngValue]="componentType">{{componentType.name}}</option>
    </select>
  </div>
</div>


<!-- <div class="container" *ngIf="dataLoaded">
  <div class="row">
    <input name="name" class="input inline" (input)="selectionChanged()" [(ngModel)]="filter.name" />

    <select required name="categoryId" class="inline" [(ngModel)]="filter.categoryId" (change)="selectionChanged()">
        <option [ngValue]="0">All</option>
        
      <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
    </select>
  </div>
</div> -->