<div class="container" *ngIf="page">
  <div class="row">
    <div class="col-md-12">
      <div class="button-group">
        <label class="text-center">Items per page</label>
        <select [(ngModel)]="itemsPerPage" (change)="itemsPerPageChanged($event.target.value)">
          <option>5</option>
          <option>10</option>
          <option>20</option>
        </select>
        <label class="text-center">Current page: {{currentPageNumber + 1}}/{{totalPages}} </label>
        <button class="btn btn-sm btn-success" *ngIf="isAdmin()" [routerLink]="['/add']">Add component</button>
        <button class="btn btn-sm btn-primary pull-right" [disabled]="currentPageNumber>=page.totalPages-1" (click)="changePage(1)">
          <span class="glyphicon glyphicon-forward"></span>
        </button>
        <button class="btn btn-sm btn-primary pull-right" [disabled]="currentPageNumber<1" (click)="changePage(-1)">
          <span class="glyphicon glyphicon-backward"></span>
        </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Brand</th>
            <th>Type</th>
            <th>Name</th>
            <th>Price</th>
            <th *ngIf="isLoggedIn()">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let component of page.content">
            <td>{{component.brand.name}}</td>
            <td>{{component.componentType.name}}</td>
            <td>{{component.name}}</td>
            <td>{{component.price}}</td>
            <td *ngIf="isLoggedIn()" style="width: 250px">
              <button class="btn btn-primary" *ngIf="!isAdmin()" (click)="buy(component)">buy</button>
              <button class="btn btn-danger" *ngIf="isAdmin()" (click)="delete(component)">delete</button>
              <button class="btn btn-warning" *ngIf="isAdmin()" (click)="edit(component)">edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>